<div class="filters-container">
    <div class="labels-container">
        <div class="badge all selected"> <span>All</span> </div>
        <div class="badge channel">
            <svg class="card-label__img" viewBox="-2 -4 24 24">
                <use href="{{ .Site.BaseURL }}images/showcases-labels.svg#channel"></use>
            </svg>
            <span>Channel</span>
        </div>
        <div class="badge store">
            <svg class="card-label__img" viewBox="-2 -2 24 24">
                <use href="{{ .Site.BaseURL }}images/showcases-labels.svg#store"></use>
            </svg>
            <span>Store</span>
        </div>
        <div class="badge metric">
            <svg class="card-label__img" viewBox="-2 -3 24 24">
                <use href="{{ .Site.BaseURL }}images/showcases-labels.svg#metric"></use>
            </svg>
            <span>Metric</span>
        </div>
        <div class="badge catalog">
            <svg class="card-label__img" viewBox="-2 -3 24 24">
                <use href="{{ .Site.BaseURL }}images/showcases-labels.svg#store"></use>
            </svg>
            <span>Catalog</span>
        </div>
    </div><div class="search-container">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <input type="text" id="search" class="form-control" placeholder="Search">
</div>
</div>